{% extends 'basetemplate.html' %}

{% block data_body %}
<h1>Recetas Guardadas</h1>





 <div class="container">
    <div class="row">
        <div class="col-md-6"><a class="btn btn-primary" href="{% url 'create' %}">Agregar receta</a></div>
        <div class="col-md-6"><a class="btn btn-primary" href="{% url 'custom' %}">Ver receta personalizadas</a></div>
    </div>
     <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Recipe for the day: {{recipe.date}}</h5>
                    <p class="card-text">{{recipe.description}}</p>
                    <a href="/updateRecipe/{{recipe.id_recipe}}" class="card-link">Editar</a>
                    <a href="/deleteRecipe/{{recipe.id_recipe}}" class="card-link">Borrar</a>
                    <a href="/enable/{{recipe.id_recipe}}" class="card-link">Publicar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if messages %}
    {% for message in messages  %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success col-md-4">{{message}}</div>
        {% elif message.tags == 'error'%}
            <div class="alert alert-danger col-md-4">{{message}}</div>
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock data_body %}
